# python==3.9.20
-f https://download.pytorch.org/whl/cu121
-f https://pypi.org/simple

# win10
-r run_envs/pytorch_env.txt
-r run_envs/python_env.txt

# # unbuntu 20.04
# -r ubuntu_run_envs/pytorch_env.txt
# -r ubuntu_run_envs/python_env.txt